<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!--<add key="conn" value="Server=121.199.12.99;Database=TranCenter;user id=adm;password=jit0mark;Trusted_Connection=false;Min Pool Size=5"/>-->
    <!--<add key="conn" value="user id=dev;password=jit!2014;data source=182.254.130.115;Database=TranCenter;"/>-->
    <!--正念-->
    <!--<add key="conn" value="user id=sa;password=ALD.2014!;data source=115.159.30.196;Database=TranCenter;"/>-->
    <!--灵肯-->
    <!--<add key="conn" value="user id=ccuser;password=9wekhMeiJ;data source=115.159.29.52,3433;Database=TranCenter;"/>-->
    <!--洗衣项目-->
    <!--<add key="conn" value="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;Database=TranCenter;"/>-->
    <add key="conn" value="user id=admin;password=Aug20170805;data source=119.29.58.16;Database=TranCenter;"/>
    <!--AliPay支付成功跳转-->
    <add key="AliPayCallBackUrl" value="http://localhost:1266/JumpPage/CallBack.ashx"/>
    <!--AliPay支付成功通知-->
    <add key="AlipayWapNotify" value="http://localhost:1266/Notify/AliPayWapNotify.ashx"/>
    <!--AliPayOffline支付成功通知-->
    <add key="AlipayOfflineNotify" value="http://localhost:1266/Notify/AliPayOfflineNotify.ashx"/>
    <!--UnionPay支付成功跳转-->
    <add key="UnionPayCallBackUrl" value="http://localhost:1266/JumpPage/CallBack.ashx"/>
    <!--UnionPay语音支付通知-->
    <add key="UnionPayIVRNotifyUrl" value="http://localhost:1266/Notify/UnionPayIVRNotify.ashx"/>
    <!--UnionPayWap支付通知-->
    <add key="UnionPayWapNotifyUrl" value="http://localhost:1266/Notify/UnionPayWapNotify.ash"/>
    <!--微信支付通知-->
    <add key ="WeiXinPayNotify" value="http://localhost:1266/Notify/WeiXinPayNotify.ashx"/>
    <!--银联Wap支付证书路径-->
    <add key="WAPDecryptCertificateFilePath" value="D:\1.Member_System_CRM\CRM_develop\TradeCenter\TradeCenter.Service\PayCenter/cer/898510148990028.cer"/>
    <!--银联语音支付证书路径-->
    <add key="IVRDecryptCertificateFilePath" value="D:\1.Member_System_CRM\CRM_develop\TradeCenter\TradeCenter.Service\PayCenter/cer/ivr.cer"/>
    <!--开发用接口URL-->
    <add key="DevGetewayUrl" value="http://127.0.0.1:6002/Gateway.ashx?"/>
    <add key="WeiXinPrePay" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
    <!--微信支付通知--> 
    <add key ="WeiXinPayNotify" value="http://paycenter.xgxshop.com/Notify/WeiXinPayNotify.ashx"/>
    <!--<add key ="WeiXinPayNotify" value="http://wxapi.xgxshop.com/Notify/WeiXinPayNotify.ashx"/>-->
    <!--平安RSA 旺财支付公钥-->
    <add key="PAPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCD7C+0N6shFTJ8AlLz8G6mK9UWTMUnQsT008y4sqYxP68uD6AvvapmHyg/2fZkwkfaxgYUbr/yLF76Oo4AL2lIpPD6pHnyE0aADFLZWJ+9o++oa+BIAkVt/TZIqdhhSlCj++QZYlBu6Q6DipixxEiHmtwyYkC1POddnT9h82zBAQIDAQAB"/>
    <!--服务商支付公众账号ID-->
    <add key="appid" value="wxb4f8f3d799d22f03"/>
    <!--服务商支付商户号-->
    <add key="mch_id" value="1309390901"/>
    <!--服务商支付签名密钥-->
    <add key="signKey" value="192006250b4c09247ec02edce69f6a2d"/>
    <!--平安退款接口回调地址-->
    <add key="PAReturnAmountNotify" value="http://localhost:1266/notify/PAPayRetAmtNotify.ashx"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
