<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--WAP测试相关-->
    <add key="WAPEncryptCertificateFilePath" value="D:/cer/630056832596.pfx"/>
    <add key="WAPEncryptCertificateFilePassword" value="123456"/>
    <add key="WAPDecryptCertificateFilePath" value="D:/cer/5101200070003100001.cer"/>
    <add key="WAPMerchantID" value="630056832596"/>
    <add key="WAPFrontUrl" value="http://www.jitmarketing.cn:8090/UnionPay/Wap/Order.aspx"/>
    <add key="WAPBackUrl" value="http://www.jitmarketing.cn:8090/UnionPay/Wap/TranNotification.ashx"/>
    <!--IVR测试相关-->
    <add key="IVREncryptCertificateFilePath" value="D:/cer/700000000000001.pfx"/>
    <add key="IVREncryptCertificateFilePassword" value="000000"/>
    <add key="IVRDecryptCertificateFilePath" value="D:/cer/ivr.cer"/>
    <add key="IVRMerchantID" value="267099633218"/>
    <add key="IVRFrontUrl" value="http://www.jitmarketing.cn:8090/UnionPay/IVR/Order.aspx"/>
    <add key="IVRBackUrl" value="http://www.jitmarketing.cn:8090/UnionPay/IVR/TranNotification.ashx"/>
    <!--测试消费者手机号-->
    <add key="DefaultMobileNO" value="13816906058"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>