<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--RabbitMQ连接字符串-->
  <!--<add key="RabbitMqHost" value="host=123.206.212.11:5672;persistentMessages=false;virtualHost=xgx;username=zmind;password=zmind@123"/>-->
  <!--<add key="RabbitMqHost" value="host=119.29.58.16:5672;persistentMessages=false;virtualHost=xgxServer;username=emeisoft2018;password=emeisoft2018"/>-->
  <add key="RabbitMqHost" value="host=119.29.58.16:5672;persistentMessages=false;virtualHost=emeisoft;username=emeisoft;password=emeisoft"/>
  <!--新干线商户号-->
  <add key="CustomerId" value="414756570b7c4ec1acf0456ad7f5987f"/>
  <!--虚拟商品SKUID-->
  <add key="VirtualGoodsSkuId" value="S_1000000000007073"/>
  <add key="log4net.Config" value="Config/log4net.config"/>
</appSettings>