<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="conn" value="Server=115.159.30.196;Database=PushMessage;user id=sa;password=ALD.2014!;Trusted_Connection=false;Min Pool Size=5" />-->
    <add key="conn" value="Server=10.237.229.174,3433;Database=PushMessage;user id=dev;password=JtLaxT7668;Trusted_Connection=false;Min Pool Size=5" />
    <add key="APConn" value="user id=dev;password=JtLaxT7668;data source=10.237.229.174,3433;database=cpos_ap;" />
    <!--客户ID  如果有多个客户，用逗号分割-->
    <add key="CustomerIDs" value="464153d4be5944b19a13e325ed98f1f4"/>
    <!--推送消息服务-->  
    <add key="pushMessageUrl" value="http://push.dev.chainclouds.com/PushService.svc" />

    <!--间隔*分钟-->
    <add key="Timing" value="30" />
    
    <add key="URL" value="http://channel.api.duapp.com/rest/2.0/channel/channel" />
    <add key="Interval" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>