<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <!--使用命名空间-->
    <setting useStatementNamespaces="true"/>
  </settings>
  <!--引用providers.config-->
  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <!--<dataSource name="cPos"
            connectionString="user id=fsrjt;password=JtLaxT7668;data source=rdsre2td1c9hj9110m8q.sqlserver.rds.aliyuncs.com,3433;database=cpos_ap;"/>-->
	  <dataSource name="cPos"
		connectionString="user id=admin;password=JtLaxT7668;data source=115.159.72.47;database=cpos_ap;"/>

	 
    <!--"user id=dev;
    password=dev-12013!;
    data source=180.153.154.21;
    database=cpos_ap;"-->
  </database>

  <sqlMaps>
    <!--这里通过相对路径的方式往上面找，文件夹方式-->
    <sqlMap resource="../SqlMapsForSSO/Base/operate.xml" />
    <sqlMap resource="../SqlMapsForSSO/Customer/customer.xml" />
    <sqlMap resource="../SqlMapsForSSO/Customer/user.xml" />
    <sqlMap resource="../SqlMapsForSSO/Customer/connect.xml" />
  </sqlMaps>

</sqlMapConfig>
