<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--数据库连接-->
        <add key="conn" value="Server=192.168.0.30;Database=SMS;user id=dev;password=dev;Trusted_Connection=false;Min Pool Size=5" />
        <!--短信发送URL-->
        <add key="BaiYunSendUrl" value="http://125.208.1.165/appserver/sms/smsmt/send_12520.php" />
        <!--短信余额查询URL-->
        <add key="BaiYunBalanceUrl" value="http://qxt.baiya.info/qxt/app_balance.php" />
        <!--短信帐户-->
        <add key="PID" value="123708" />
        <!--帐户数字-->
        <add key="Number" value="52790" />
        <!--帐户密码-->
        <add key="PWD" value="888888" />
        <!--短信循环时间,以秒为单位-->
        <add key="CycleInterval" value="3" />
        <add key="SMSSendURL" value="http://106.ihuyi.com/webservice/sms.php" />
        <!--短信帐户-->
        <add key="HuYiAccount" value="cf_jyt" />
        <!--帐户密码-->
        <add key="HuYiPassword" value="mmCerA" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>