<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>

    <dataSource name="cpos" connectionString="user id=admin;password=Aug20170805;data source=119.29.58.16;database=Alvin_cpos_ap;"/>
  
  </database>
  <sqlMaps>
    <sqlMap resource="SqlMaps/Base/operate.xml" />
    <sqlMap resource="SqlMaps/Base/dictionary.xml" />
    <sqlMap resource="SqlMaps/Base/dictionary_detail.xml" />

    <sqlMap resource="SqlMaps/Bill/kind.xml" />
    <sqlMap resource="SqlMaps/Bill/action.xml" />
    <sqlMap resource="SqlMaps/Bill/status.xml" />
    <sqlMap resource="SqlMaps/Bill/action_log.xml" />

    <sqlMap resource="SqlMaps/Customer/customer.xml" />
    <sqlMap resource="SqlMaps/Customer/user.xml" />
    <sqlMap resource="SqlMaps/Customer/connect.xml" />
    <sqlMap resource="SqlMaps/Customer/shop.xml" />
    <sqlMap resource="SqlMaps/Customer/menu.xml" />
    <sqlMap resource="SqlMaps/Customer/terminal.xml" />

    <sqlMap resource="SqlMaps/user/user.xml" />
    <sqlMap resource="SqlMaps/user/user_role.xml" />

    <sqlMap resource="SqlMaps/Right/app.xml" />
    <sqlMap resource="SqlMaps/Right/menu.xml" />
    <sqlMap resource="SqlMaps/Right/role.xml" />
    <sqlMap resource="SqlMaps/Right/role_menu.xml" />

    <!-- BS -->
    <sqlMap resource="SqlMaps/AppSys/Prop.xml" />

    <!--<sqlMap resource="SqlMaps/User/User.xml" />
    <sqlMap resource="SqlMaps/User/UserRole.xml" />-->

    <sqlMap resource="SqlMaps/Unit/Unit.xml" />
    <sqlMap resource="SqlMaps/Unit/UnitRelationMode.xml" />

    <sqlMap resource="SqlMaps/Item/Item.xml" />
    <sqlMap resource="SqlMaps/Item/ItemCategory.xml" />

    <sqlMap resource="SqlMaps/Item/ItemPrice.xml" />
    <sqlMap resource="SqlMaps/Item/ItemPriceType.xml" />
    <sqlMap resource="SqlMaps/Item/ItemProp.xml" />
    <sqlMap resource="SqlMaps/Item/Sku.xml" />
    <sqlMap resource="SqlMaps/Item/SkuProp.xml" />
    <sqlMap resource="SqlMaps/Item/SkuPrice.xml" />

    <sqlMap resource="SqlMaps/Order/Inout.xml" />
    <sqlMap resource="SqlMaps/Order/InoutDetail.xml" />

    <sqlMap resource="SqlMaps/Monitor/Monitor.xml" />
    <sqlMap resource="SqlMaps/order/AdOrder.xml" />
    <!--20130121-->
    <sqlMap resource="SqlMaps/user/MobileUser.xml" />

    <sqlMap resource="SqlMaps/order/CC.xml" />
    <sqlMap resource="SqlMaps/order/CCDetail.xml" />

    <sqlMap resource="SqlMaps/StockBalance/StockBalance.xml" />
    <sqlMap resource="SqlMaps/Warehouse/Warehouse.xml" />

    <!--20160317 创意仓库-->
    <sqlMap resource="SqlMaps/CreativityWarehouse/Banner.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/SeasonPlan.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/SysMarketingGroupType.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/LEventTemplate.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/LEventTheme.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/LEventInteraction.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/SpreadSetting.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/ObjectImages.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/HomePageCommon.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/LEventDrawMethod.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/PanicbuyingEvent.xml" />
    <sqlMap resource="SqlMaps/CreativityWarehouse/LEvents.xml" />
  </sqlMaps>

  <!--<sqlMaps>
    <sqlMap resource="../SqlMaps/Base/operate.xml" />
    <sqlMap resource="../SqlMaps/Base/dictionary.xml" />
    <sqlMap resource="../SqlMaps/Base/dictionary_detail.xml" />

    <sqlMap resource="../SqlMaps/Bill/kind.xml" />
    <sqlMap resource="../SqlMaps/Bill/action.xml" />
    <sqlMap resource="../SqlMaps/Bill/status.xml" />
    <sqlMap resource="../SqlMaps/Bill/action_log.xml" />

    <sqlMap resource="../SqlMaps/Customer/customer.xml" />
    <sqlMap resource="../SqlMaps/Customer/user.xml" />
    <sqlMap resource="../SqlMaps/Customer/connect.xml" />
    <sqlMap resource="../SqlMaps/Customer/shop.xml" />
    <sqlMap resource="../SqlMaps/Customer/menu.xml" />
    <sqlMap resource="../SqlMaps/Customer/terminal.xml" />

    <sqlMap resource="../SqlMaps/user/user.xml" />
    <sqlMap resource="../SqlMaps/user/user_role.xml" />

    <sqlMap resource="../SqlMaps/Right/app.xml" />
    <sqlMap resource="../SqlMaps/Right/menu.xml" />
    <sqlMap resource="../SqlMaps/Right/role.xml" />
    <sqlMap resource="../SqlMaps/Right/role_menu.xml" />

    --><!-- BS --><!--
    <sqlMap resource="../SqlMaps/AppSys/Prop.xml" />

    --><!--<sqlMap resource="../SqlMaps/User/User.xml" />
    <sqlMap resource="../SqlMaps/User/UserRole.xml" />--><!--

    <sqlMap resource="../SqlMaps/Unit/Unit.xml" />
    <sqlMap resource="../SqlMaps/Unit/UnitRelationMode.xml" />

    <sqlMap resource="../SqlMaps/Item/Item.xml" />
    <sqlMap resource="../SqlMaps/Item/ItemCategory.xml" />

    <sqlMap resource="../SqlMaps/Item/ItemPrice.xml" />
    <sqlMap resource="../SqlMaps/Item/ItemPriceType.xml" />
    <sqlMap resource="../SqlMaps/Item/ItemProp.xml" />
    <sqlMap resource="../SqlMaps/Item/Sku.xml" />
    <sqlMap resource="../SqlMaps/Item/SkuProp.xml" />
    <sqlMap resource="../SqlMaps/Item/SkuPrice.xml" />

    <sqlMap resource="../SqlMaps/Order/Inout.xml" />
    <sqlMap resource="../SqlMaps/Order/InoutDetail.xml" />

    <sqlMap resource="../SqlMaps/Monitor/Monitor.xml" />
    <sqlMap resource="../SqlMaps/order/AdOrder.xml" />
    --><!--20130121--><!--
    <sqlMap resource="../SqlMaps/user/MobileUser.xml" />

    <sqlMap resource="../SqlMaps/order/CC.xml" />
    <sqlMap resource="../SqlMaps/order/CCDetail.xml" />

    <sqlMap resource="../SqlMaps/StockBalance/StockBalance.xml" />
    <sqlMap resource="../SqlMaps/Warehouse/Warehouse.xml" />
    
    --><!--20160317 创意仓库--><!--
    <sqlMap resource="../SqlMaps/CreativityWarehouse/Banner.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/SeasonPlan.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/SysMarketingGroupType.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/LEventTemplate.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/LEventTheme.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/LEventInteraction.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/SpreadSetting.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/ObjectImages.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/HomePageCommon.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/LEventDrawMethod.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/PanicbuyingEvent.xml" />
    <sqlMap resource="../SqlMaps/CreativityWarehouse/LEvents.xml" />
  </sqlMaps>-->

</sqlMapConfig>
