<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库连接-->
    <add key="conn" value="Server=192.168.0.30;Database=SMS;user id=dev;password=dev;Trusted_Connection=false;Min Pool Size=5" />
    <!--短信发送URL移动-->
    <add key="URL2" value="http://esms2.etonenet.com/sms/mt" />
    <!--短信发送URL联通-->
    <add key="URL3" value="http://esms3.etonenet.com/sms/mt" />
    <!--短信发送URL电信-->
    <add key="URL4" value="http://esms4.etonenet.com/sms/mt" />
    <!--短信帐户-->
    <add key="SPID" value="3054" />
    <!--帐户密码-->
    <add key="SPPWD" value="jyt123" />
    <!--编码格式:15-GBK,8-Unicode,其它为ASCII-->
    <add key="DC" value="15" />
    <!--短信循环时间,以秒为单位-->
    <add key="CycleInterval" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>