<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="conn" value="Server=121.199.12.99;Database=TranCenter;user id=adm;password=jit0mark;Trusted_Connection=false;Min Pool Size=5"/>
    </appSettings>
</configuration>
