<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cPos.Admin.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <cPos.Admin.Service.Properties.Settings>
            <setting name="MVS_mPos_Service_CP_AuthBsWebServices" serializeAs="String">
                <value>http://localhost:6750/cPos.WebSite/webservice/AuthBsWebServices.asmx</value>
            </setting>
            <setting name="cPos_Admin_Service_CustomerWebServices_CustomerInfoInit"
                serializeAs="String">
                <value>http://192.168.0.55:8201/webservice/CustomerInfoInit.asmx</value>
            </setting>
        </cPos.Admin.Service.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>