<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--RabbitMQ连接字符串-->
  <!--<add key="RabbitMqHost" value="host=123.206.212.11:5672;persistentMessages=false;virtualHost=xgx;username=zmind;password=zmind@123"/>-->
  <!--<add key="RabbitMqHost" value="host=119.29.58.16:5672;persistentMessages=false;virtualHost=xgxServer;username=emeisoft2018;password=emeisoft2018"/>-->
  <add key="RabbitMqHost" value="host=119.29.58.16:5672;persistentMessages=false;virtualHost=emeisoft;username=emeisoft;password=emeisoft"/>
  <!--新干线商户号-->
  <add key="CustomerId" value="414756570b7c4ec1acf0456ad7f5987f"/>
  <!--正念总部UnitId-->
  <add key="HeadUnitId" value="024a01f00a7a4314a28125884631679f"/>
  <!--新干线总部UnitId-->
  <add key="XgxHeadUnitId" value="10cae219aa834dbe912f978289cf695f"/>
  <!--正念商品品类顶级节点Id-->
  <add key="HeadItemCategoryId" value="648ABF54-6823-45BA-9190-EA168CD8E1CB"/>
  <!--商品价格类型的原价Id-->
  <add key="ItemPriceTypeId_OriginalPrice" value="77850286E3F24CD2AC84F80BC625859D"/>
  <!--商品价格类型的零售价Id-->
  <add key="ItemPriceTypeId_RetailPrice" value="75412168A16C4D2296B92CA0E596A188"/>
  <!--商品价格类型的库存Id-->
  <add key="ItemPriceTypeId_Inventory" value="77850286E3F24CD2AC84F80BC625859E"/>
  <!--商品价格类型的销量Id-->
  <add key="ItemPriceTypeId_SalesVolume" value="77850286E3F24CD2AC84F80BC625859f"/>
  <!--微信原始Id-->
  <add key="WeiXinID" value="gh_dae4ca79cf43"/>
  <add key="log4net.Config" value="Config/log4net.config"/>
</appSettings>