<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库连接-->
    <!--<add key="conn" value="Server=192.168.0.48;Database=SMS;user id=dev;password=dev;Trusted_Connection=false;Min Pool Size=5" />-->
    <!--<add key="conn" value="Server=182.254.216.230;Database=MSMS;user id=wen.wu;password=jit.wu1104;Trusted_Connection=false;Min Pool Size=5" />-->

    <add key="conn" value="Server=182.254.215.178;Database=MSMS;user id=dev;password=jit!2014;Trusted_Connection=false;Min Pool Size=5" />
    
    <!--短信发送URL-->
    <add key="SMSSendURL" value="http://106.ihuyi.com/webservice/sms.php" />
    <!--短信帐户--><!--
    <add key="HuYiAccount" value="cf_jyt" />
    --><!-- 帐户密码--><!--
    <add key="HuYiPassword" value="mmCerA" />-->
    <!--短信循环时间,以秒为单位-->
    <add key="CycleInterval" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MailTo" value="庄臣|pengtao.chen@jitmarketing.cn$泸州老窖|pengtao.chen@jitmarketing.cn"/>
    <add key="SmtpServer" value="smtp.exmail.qq.com"/>
    <add key="MailSendFrom" value="pengtao.chen@jitmarketing.cn"/>
    <add key="MailUserName" value="pengtao.chen@jitmarketing.cn"/>
    <add key="MailUserPassword" value="123456!a"/>
    <add key=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>