<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="qdyconn" value="Server=192.168.0.30;Database=qdy;user id=dev;password=dev;Trusted_Connection=false;Min Pool Size=5"/>
        <add key="conn" value="Server=192.168.0.30;Database=pushmessage;user id=dev;password=dev;Trusted_Connection=false;Min Pool Size=5"/>
        <add key="URL" value="http://channel.api.duapp.com/rest/2.0/channel/channel"/>
        <add key="Interval" value="3"/>
    </appSettings>
</configuration>
