<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--单点登录的访问地址-->
    <add key="sso_url" value="http://192.168.0.55:8100"/>
    <!--是否需要记录日志-->
    <add key="need_log" value="1"/>
    <!--日志级别-->
    <add key="log_level" value="debug"/>
    <!--日志目录-->
    <add key="log_path" value="c:\cPos\log\bs"/>
    <!--循环周期（单位：秒）-->
    <add key="cycleTime" value="10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MonitorLogWebServiceSoap" 
                 maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        <binding name="PosInoutWebServiceSoap"
                 maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"/>
        <binding name="AdvertiseOrderWebServiceSoap"
                 maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.55:8201/webservice/MonitorLogWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MonitorLogWebServiceSoap"
        contract="MonitorLogServiceReference.MonitorLogWebServiceSoap"
        name="MonitorLogWebServiceSoap" />
      <endpoint address="http://192.168.0.55:8201/webservice/PosInoutWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PosInoutWebServiceSoap"
        contract="PosInoutServiceReference.PosInoutWebServiceSoap" name="PosInoutWebServiceSoap" />
      <endpoint address="http://192.168.0.55:8201/webservice/AdvertiseOrderWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AdvertiseOrderWebServiceSoap"
        contract="AdvertiseOrderServiceReference.AdvertiseOrderWebServiceSoap"
        name="AdvertiseOrderWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
