<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
      <dataSource name="SQL2008"
                connectionString="user id=dev;
                password=jit2014mark;
                data source=o2omarketing.sqlserver.rds.aliyuncs.com,3433;
                database=cpos_bs;"/>
    
  </database>

  <sqlMaps>
    <sqlMap resource="../mPos.SqlMaps/User/User.xml" />
    <sqlMap resource="../mPos.SqlMaps/User/UserRole.xml" />
    
    <sqlMap resource="../mPos.SqlMaps/Menu/Menu.xml" />
    
    <sqlMap resource="../mPos.SqlMaps/AppSys/AppSys.xml" />
    <sqlMap resource="../mPos.SqlMaps/AppSys/Role.xml" />
    <sqlMap resource="../mPos.SqlMaps/AppSys/City.xml" />
    <sqlMap resource="../mPos.SqlMaps/AppSys/Type.xml" />
    <sqlMap resource="../mPos.SqlMaps/AppSys/Prop.xml" />
    <sqlMap resource="../mPos.SqlMaps/AppSys/PropertyUnit.xml" />

    <sqlMap resource="../mPos.SqlMaps/AppSys/RoleMenu.xml"/>
            
    <sqlMap resource="../mPos.SqlMaps/Common/SysParameter.xml" />
    <sqlMap resource="../mPos.SqlMaps/Bill/Bill.xml" />
    <sqlMap resource="../mPos.SqlMaps/Bill/BillAction.xml" />
    <sqlMap resource="../mPos.SqlMaps/Bill/BillActionInfo.xml" />
    <sqlMap resource="../mPos.SqlMaps/Bill/BillActionRole.xml" />
    <sqlMap resource="../mPos.SqlMaps/Bill/BillKind.xml" />
    <sqlMap resource="../mPos.SqlMaps/Bill/BillStatus.xml" />

    <sqlMap resource="../mPos.SqlMaps/Unit/Unit.xml" />
    <sqlMap resource="../mPos.SqlMaps/Unit/UnitRelationMode.xml" />

    <sqlMap resource="../mPos.SqlMaps/Item/Item.xml" />
    <sqlMap resource="../mPos.SqlMaps/Item/ItemCategory.xml" />

    <sqlMap resource="../mPos.SqlMaps/Item/ItemPrice.xml" />
    <sqlMap resource="../mPos.SqlMaps/Item/ItemPriceType.xml" />
    <sqlMap resource="../mPos.SqlMaps/Item/ItemProp.xml" />
    <sqlMap resource="../mPos.SqlMaps/Item/Sku.xml" />
    <sqlMap resource="../mPos.SqlMaps/Item/SkuProp.xml" />
    <sqlMap resource="../mPos.SqlMaps/Item/SkuPrice.xml" />
    
    <sqlMap resource="../mPos.SqlMaps/AdjustmentOrder/AdjustmentOrder.xml" />
    <sqlMap resource="../mPos.SqlMaps/AdjustmentOrder/AdjustmentOrderDetailItem.xml" />
    <sqlMap resource="../mPos.SqlMaps/AdjustmentOrder/AdjustmentOrderDetailSku.xml" />
    <sqlMap resource="../mPos.SqlMaps/AdjustmentOrder/AdjustmentOrderDetailUnit.xml" />

    <sqlMap resource="../mPos.SqlMaps/Pos/Operate.xml" />
    <sqlMap resource="../mPos.SqlMaps/Pos/pos.xml" />
    <sqlMap resource="../mPos.SqlMaps/Pos/pos-unit.xml" />
    <sqlMap resource="../mPos.SqlMaps/Pos/warehouse.xml" />
    <sqlMap resource="../mPos.SqlMaps/Pos/unit_warehouse.xml" />

    <sqlMap resource="../mPos.SqlMaps/Promotion/vip.xml" />

    <sqlMap resource="../mPos.SqlMaps/Exchange/announce.xml" />
    <sqlMap resource="../mPos.SqlMaps/Exchange/announce-unit.xml" />
    
    <sqlMap resource="../mPos.SqlMaps/Order/Inout.xml" />
    <sqlMap resource="../mPos.SqlMaps/Order/InoutDetail.xml" />
    <sqlMap resource="../mPos.SqlMaps/Order/CC.xml" />
    <sqlMap resource="../mPos.SqlMaps/Order/CCDetail.xml" />
    <sqlMap resource="../mPos.SqlMaps/Order/OrderType.xml" />
    <sqlMap resource="../mPos.SqlMaps/Order/OrderReasonType.xml" />

    <sqlMap resource="../mPos.SqlMaps/Report/SalesReport.xml" />
    <sqlMap resource="../mPos.SqlMaps/Report/ItemSalesReport.xml" />

    <sqlMap resource="../mPos.SqlMaps/StockBalance/StockBalance.xml" />
  </sqlMaps>

</sqlMapConfig>
