<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
      <dataSource name="."
                connectionString="user id=sa;password=JtLaxT7668;data source=182.254.219.83,8433;database=cpos_ap;"/>
    <!--<dataSource name="JERMYN-PC\SQL2008"
                    connectionString="User Id=dev;
                password=dev-12011!;
                data source=222.73.180.225;
                database=cpos_bs_dlb;
                Connection Timeout=30;"/>-->
    
  </database>

  <sqlMaps>
    <sqlMap resource="../cPos.SqlMaps/User/User.xml" />
    <sqlMap resource="../cPos.SqlMaps/User/UserRole.xml" />
    
    <sqlMap resource="../cPos.SqlMaps/Menu/Menu.xml" />
    
    <sqlMap resource="../cPos.SqlMaps/AppSys/AppSys.xml" />
    <sqlMap resource="../cPos.SqlMaps/AppSys/Role.xml" />
    <sqlMap resource="../cPos.SqlMaps/AppSys/City.xml" />
    <sqlMap resource="../cPos.SqlMaps/AppSys/Type.xml" />
    <sqlMap resource="../cPos.SqlMaps/AppSys/Prop.xml" />
    <sqlMap resource="../cPos.SqlMaps/AppSys/PropertyUnit.xml" />

    <sqlMap resource="../cPos.SqlMaps/AppSys/RoleMenu.xml"/>
            
    <sqlMap resource="../cPos.SqlMaps/Common/SysParameter.xml" />
    <sqlMap resource="../cPos.SqlMaps/Bill/Bill.xml" />
    <sqlMap resource="../cPos.SqlMaps/Bill/BillAction.xml" />
    <sqlMap resource="../cPos.SqlMaps/Bill/BillActionInfo.xml" />
    <sqlMap resource="../cPos.SqlMaps/Bill/BillActionRole.xml" />
    <sqlMap resource="../cPos.SqlMaps/Bill/BillKind.xml" />
    <sqlMap resource="../cPos.SqlMaps/Bill/BillStatus.xml" />

    <sqlMap resource="../cPos.SqlMaps/Unit/Unit.xml" />
    <sqlMap resource="../cPos.SqlMaps/Unit/UnitRelationMode.xml" />

    <sqlMap resource="../cPos.SqlMaps/Item/Item.xml" />
    <sqlMap resource="../cPos.SqlMaps/Item/ItemCategory.xml" />

    <sqlMap resource="../cPos.SqlMaps/Item/ItemPrice.xml" />
    <sqlMap resource="../cPos.SqlMaps/Item/ItemPriceType.xml" />
    <sqlMap resource="../cPos.SqlMaps/Item/ItemProp.xml" />
    <sqlMap resource="../cPos.SqlMaps/Item/Sku.xml" />
    <sqlMap resource="../cPos.SqlMaps/Item/SkuProp.xml" />
    <sqlMap resource="../cPos.SqlMaps/Item/SkuPrice.xml" />
    
    <sqlMap resource="../cPos.SqlMaps/AdjustmentOrder/AdjustmentOrder.xml" />
    <sqlMap resource="../cPos.SqlMaps/AdjustmentOrder/AdjustmentOrderDetailItem.xml" />
    <sqlMap resource="../cPos.SqlMaps/AdjustmentOrder/AdjustmentOrderDetailSku.xml" />
    <sqlMap resource="../cPos.SqlMaps/AdjustmentOrder/AdjustmentOrderDetailUnit.xml" />

    <sqlMap resource="../cPos.SqlMaps/Pos/Operate.xml" />
    <sqlMap resource="../cPos.SqlMaps/Pos/pos.xml" />
    <sqlMap resource="../cPos.SqlMaps/Pos/pos-unit.xml" />
    <sqlMap resource="../cPos.SqlMaps/Pos/warehouse.xml" />
    <sqlMap resource="../cPos.SqlMaps/Pos/unit_warehouse.xml" />

    <sqlMap resource="../cPos.SqlMaps/Promotion/vip.xml" />

    <sqlMap resource="../cPos.SqlMaps/Exchange/announce.xml" />
    <sqlMap resource="../cPos.SqlMaps/Exchange/announce-unit.xml" />
    
    <sqlMap resource="../cPos.SqlMaps/Order/Inout.xml" />
    <sqlMap resource="../cPos.SqlMaps/Order/InoutDetail.xml" />
    <sqlMap resource="../cPos.SqlMaps/Order/CC.xml" />
    <sqlMap resource="../cPos.SqlMaps/Order/CCDetail.xml" />
    <sqlMap resource="../cPos.SqlMaps/Order/OrderType.xml" />
    <sqlMap resource="../cPos.SqlMaps/Order/OrderReasonType.xml" />

    <sqlMap resource="../cPos.SqlMaps/Report/SalesReport.xml" />
    <sqlMap resource="../cPos.SqlMaps/Report/ItemSalesReport.xml" />

    <sqlMap resource="../cPos.SqlMaps/StockBalance/StockBalance.xml" />

    <sqlMap resource="../cPos.SqlMaps/Shift/Shift.xml" />

    <sqlMap resource="../cPos.SqlMaps/Repair/Repair.xml" />
    <!--监控日志-->
    <sqlMap resource="../cPos.SqlMaps/MonitorLog/MonitorLog.xml" />
    
    <!--广告-->
    <sqlMap resource="../cPos.SqlMaps/Advertise/Advertise.xml" />
    <sqlMap resource="../cPos.SqlMaps/Advertise/AdvertiseOrder.xml" />
    
  </sqlMaps>

</sqlMapConfig>
