<div class="jumbotron">
    <h1>开发者服务</h1>
    <p class="lead">开发者服务是基于各产品、面向开发者的开放接口（API）服务。</p>
    @*<p><a href="#" class="btn btn-primary btn-lg">查看更多 &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-6">
        <h2>应用开发</h2>
        <p>利用API快速构建Web、移动或桌面应用。</p>
        <p><a class="btn btn-default" href="#">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>网站应用开发</h2>
        <p>接入连锁掌柜开放平台，让你的网站支持使用连锁掌柜帐号来登录</p>
        <p><a class="btn btn-default" href="#">了解更多 &raquo;</a></p>
    </div>
 
</div>
