<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="JIT.Utility.Message.WCFService.PushService">
                <endpoint address=""
                          binding="webHttpBinding"
                          behaviorConfiguration="httpBehavior"
                          contract="JIT.Utility.Message.WCFService.IPushService"/>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="httpBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
                    <serviceMetadata httpGetEnabled="true"/>
                    <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <appSettings>
        <add key="conn" value="user id=sa;password=ALD.2014!;data source=10.133.192.230;Database=PushMessage;Trusted_Connection=false;Min Pool Size=5"/>
        <add key="URL" value="http://channel.api.duapp.com/rest/2.0/channel/channel"/>
        <add key="P12File" value="E:\工作\Infrastructure\Code\TestUtility.TestMessage\bin\Debug\JITIOSLibPushDev.p12"/>
        <add key="P12FilePWD" value="jit15d"/>
    </appSettings>
</configuration>
