<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--RabbitMQ连接字符串-->
  <!--<add key="RabbitMqHost" value="host=123.206.212.11:5672;persistentMessages=false;virtualHost=xgx;username=zmind;password=zmind@123"/>-->
  <add key="RabbitMqHost" value="host=119.29.58.16:5672;persistentMessages=false;virtualHost=xgxServer;username=emeisoft2018;password=emeisoft2018"/>

</appSettings>