<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="xgx_select" connectionString="user id=admin;password=Aug20170805;data source=115.159.97.144,5433;database=cpos_bs_xgx;" providerName="System.Data.SqlClient" />
  <add name="xgx_insert" connectionString="user id=admin;password=Aug20170805;data source=115.159.97.144,5433;database=cpos_bs_xgx;" providerName="System.Data.SqlClient" />
</connectionStrings>