<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Utility.Sync.WCFService.Sync">
        <endpoint address=""
                  binding="webHttpBinding"
                  behaviorConfiguration="httpBehavior"
                  contract="Utility.Sync.WCFService.ISync"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <appSettings>
     <add key="conn" value="Server=121.199.12.99;Database=ALD;user id=adm;password=jit0mark;Trusted_Connection=false;Min Pool Size=5"/>
    <!--ALD接口URL-->
    <add key="ALDMemberService" value="http://localhost:29530/Gateway.ashx"/>
  </appSettings>
</configuration>
