<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="dex_providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="cpos_dex"
                connectionString="User Id=dev;
                password=jit!2014;
                data source=112.124.68.147;
                database=cpos_dex;
                Connection Timeout=30;" />
  </database>

  <sqlMaps>
    <sqlMap resource="../cPos.Dex.SqlMaps/Interface/Interface.xml" />
    <sqlMap resource="../cPos.Dex.SqlMaps/Cert/Cert.xml" />
    <sqlMap resource="../cPos.Dex.SqlMaps/Config/Config.xml" />
    <sqlMap resource="../cPos.Dex.SqlMaps/Log/Log.xml" />
    <sqlMap resource="../cPos.Dex.SqlMaps/Server/Server.xml" />
    <sqlMap resource="../cPos.Dex.SqlMaps/Package/Package.xml" />
    <sqlMap resource="../cPos.Dex.SqlMaps/Version/PosVersion.xml" />
  </sqlMaps>

</sqlMapConfig>
