<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="providers.config"/>
  
  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="cpos"
            connectionString="user id=dev;
                password=jit!2014;
                data source=112.124.68.147;
                database=cpos_ap;"/>
  </database>

  <sqlMaps>
    <sqlMap resource="../../../Admin/SqlMaps/Base/operate.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Base/dictionary.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Base/dictionary_detail.xml" />

    <sqlMap resource="../../../Admin/SqlMaps/Bill/kind.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Bill/action.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Bill/status.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Bill/action_log.xml" />

    <sqlMap resource="../../../Admin/SqlMaps/Customer/customer.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Customer/user.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Customer/connect.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Customer/shop.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Customer/menu.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Customer/terminal.xml" />

    <sqlMap resource="../../../Admin/SqlMaps/user/user.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/user/user_role.xml" />

    <sqlMap resource="../../../Admin/SqlMaps/Right/app.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Right/menu.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Right/role.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Right/role_menu.xml" />

    <!-- BS -->
    <sqlMap resource="../../../Admin/SqlMaps/AppSys/Prop.xml" />
    
    <!--<sqlMap resource="../../../Admin/SqlMaps/User/User.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/User/UserRole.xml" />-->

    <sqlMap resource="../../../Admin/SqlMaps/Unit/Unit.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Unit/UnitRelationMode.xml" />
    
    <sqlMap resource="../../../Admin/SqlMaps/Item/Item.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Item/ItemCategory.xml" />

    <sqlMap resource="../../../Admin/SqlMaps/Item/ItemPrice.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Item/ItemPriceType.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Item/ItemProp.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Item/Sku.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Item/SkuProp.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Item/SkuPrice.xml" />

    <sqlMap resource="../../../Admin/SqlMaps/Order/Inout.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/Order/InoutDetail.xml" />

    <sqlMap resource="../../../Admin/SqlMaps/Monitor/Monitor.xml" />
    <sqlMap resource="../../../Admin/SqlMaps/order/AdOrder.xml" />
    
  </sqlMaps>

</sqlMapConfig>
