<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicServiceSoap" />
                <binding name="OrderServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12850/WebServices/BasicService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicServiceSoap"
                contract="APBasicServiceReference.BasicServiceSoap" name="BasicServiceSoap" />
            <endpoint address="http://localhost:12850/WebServices/OrderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap"
                contract="APOrderServiceReference.OrderServiceSoap" name="OrderServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>