<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cPos.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <cPos.WebServices.Properties.Settings>
            <setting name="cPos_WebServices_AuthManagerWebServices_AuthService"
                serializeAs="String">
                <value>http://192.168.0.55:8100/AuthService.asmx</value>
            </setting>
            <setting name="cPos_WebServices_CustomerDataExchangeWebService_CustomerDataExchangeService"
                serializeAs="String">
                <value>http://192.168.0.55:8100/customer/CustomerDataExchangeService.asmx</value>
            </setting>
        </cPos.WebServices.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>