<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="webconfig"
                         maxBufferPoolSize="2147483647"
                         maxBufferSize="2147483647"
                         maxReceivedMessageSize="2147483647"
                         transferMode="Streamed">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
                </binding>
                
            </webHttpBinding>
        </bindings>
        <services>
            <service name="JIT.Utility.MobileDeviceManagement.WcfService.MobileDeviceManagementService">
                <endpoint address=""
                          binding="webHttpBinding" bindingConfiguration="webconfig"
                          behaviorConfiguration="httpBehavior"
                          contract="JIT.Utility.MobileDeviceManagement.WcfService.Contracts.IMobileDeviceManagementService"/>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="httpBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
                    <serviceMetadata httpGetEnabled="true"/>
                    <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
    <system.web>
        <compilation debug="true"/>
    </system.web>

    <appSettings>
        <add key="MobileLogConn" value="Server=192.168.0.30;Database=qdy;user id=dev;password=dev;Trusted_Connection=false;Min Pool Size=5"/>
        <add key="DMS|*" value="haibo.zhou@jitmarketing.cn"/>
        <add key="TTT|*" value="haibo.zhou@jitmarketing.cn"/>
        <add key="Regex" value=""/>
    </appSettings>
</configuration>

