<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--单点登录的访问地址-->
    <add key="sso_url" value="http://112.124.68.147:8100"/>
    <add key="ap_url" value="http://112.124.68.147:8101"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicServiceSoap" />
        <binding name="OrderServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://112.124.68.147:8101/WebServices/BasicService.asmx"
          binding="basicHttpBinding" bindingConfiguration="BasicServiceSoap"
          contract="APBasicServiceReference.BasicServiceSoap" name="BasicServiceSoap" />
      <endpoint address="http://112.124.68.147:8101/WebServices/OrderService.asmx"
          binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap"
          contract="APOrderServiceReference.OrderServiceSoap" name="OrderServiceSoap" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"
                          defaultOutgoingResponseFormat="Json"
                          maxReceivedMessageSize="20971510">
          <readerQuotas maxStringContentLength="20971520" maxArrayLength="20971520"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
